<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
    body {
      background-image: url("static/cat.jpg");
      background-repeat: no-repeat;
      background-position: right top;
      margin-right: 200px;
      background-size: 64px 64px;
    }
    </style>
    </head>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
    <header>
      <div class="container">
        <h1 class="logo">Ben's web app</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('main_page') }}">Main</a></li>
            <li><a href="{{ url_for('form') }}">Form</a></li>
            <li><a href="{{ url_for('count') }}">Count</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
</html>