<html>
    <head>
        
        <style>
            
        body {
        background-image: url("static/cat.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        margin-right: 200px;
        background-size: 64px 64px;
        }
        </style>
        </head>
    <head>
        <title>Flask app</title>
        <link rel="icon" type="image/x-icon" href="static/cat.ico">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
          </head>

          <header>
            <div class="container">
                <h1 class="logo">Ben's web app</h1>
                <strong><nav>
                  <ul class="menu">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('form') }}">Form</a></li>
                    <li><a href="{{ url_for('home_fn') }}">Home</a></li>
                    <li><a href="{{ url_for('count') }}">Count</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>

    <body>

        <h1>Hello {{name}}</h1>
        <img src="static/assets/orange-cat-stare.gif" alt = "Ben" class="center" height = "700" width = "1400">
        
    </body>
</html>